.img{
    width: 438px;
    float: left;
    text-align: center;
    border: 3px solid white;
    padding: 0.17px;
    margin: 0.01px;
}

body{
    background-color:	#00CED1;
}

span.title{
    text-decoration: underline;
    text-decoration-style: solid;
}
p{
    font-size: 18px;
}

img.u{
    float: left;
}
